p{
    color: #77797C;
}

h2{
    color: #7BC143;
}

.header {
    background-color: #7BC143;
    color: #fff;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    margin-top: 1px;
    text-transform: uppercase;
    font-size: 18px;
}

a {
	color: #77797C;
    text-decoration: none;
}

.title {
    font-weight: 600;
    color: #7BC143;
}

.divider {
    margin-bottom: 1em;
    height: 2px;
    background-color: #DADFE0;
}

input#search {
    float: right;
    color: #444545;
    font-size: .9em;
    padding: 5px 7px;
    margin-bottom: 7px;
    border: 1px solid #DADFE0;
    border-radius: 5px;
    width: 300px;
}

a.active {
    color: #fff;
    background-color: #7BC143;
}

.nav {
	margin-bottom: 1em;
}

#footer{
	padding-top: 2em;
}

.btn-primary{
    background-color: #7C4199;
    border-color: #7C4199;
}

#song-list{
    line-height: 1em;
    padding: 1em;
}

#player-title button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}