<div class="row">
	<div class="col-md-8">

	</div>
	<div class="col-md-4">
		<input ng-model="query" placeholder="SEARCH" id="search">
	</div>
</div>

<div class="row">
	<div ng-repeat="album in albums | filter:query">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<img ng-src="{{getCachedAlbumImage(album.album.front_cover_art)}}" alt="{{album.album.title}}" class="img-responsive" />			
			<div class="title">{{album.album.title}}</div>
			<a ng-href="#/albums/{{album.album.id}}">{{album.album.main_artist_name}}</a>
		</div>
	</div>
</div>