<div class="row">
	<div class="col-md-4">
		<img ng-src="{{getCachedAlbumImage(album.front_cover_art)}}" alt="{{album.album.title}}" class="img-responsive" />
	</div>
	<div class="col-md-8">
		<h2>{{album.title}}</h2>
		<h3>{{album.main_artist_name}}</h3>
		<p>{{album.record_label}}</p>
		<p>{{album.genre}}</p>
		<button type="button" class="btn btn-primary btn-lg btn-block">ADD TO YOUR COLLECTION</button>
		<br>
		<h3 class="header">Track List</h3>	
        <div id="song-list" ng-repeat="song in songs | orderBy:'id'">
        	<div class="row">
				<div class="col-md-4 col-xs-6">
					{{song.id}}. {{song.title}}
				</div>
				<div class="col-md-2 col-xs-6">
					{{song.duration}}
				</div>
				<div class="col-md-6 col-xs-12 pull-left">
					<button music-player add-song="song">
	                	<span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
	                </button>
				</div>
			</div>
        </div>
        <button play-all="songs">Play all</button>
        <button play-all="songs" data-play="false">Add all</button>
		<h3 class="header">Options to purchase</h3>
	</div>
</div>