<sound-manager></sound-manager>
<p class="header" id="player-title" ng-click="togglePlayer()">
	<span class="glyphicon glyphicon-collapse-down" aria-hidden="true" ng-show="!showPlayer"></span> 
	<span class="glyphicon glyphicon-collapse-up" aria-hidden="true" ng-show="showPlayer"></span> 
	Currently Playing: {{currentPlaying.title}} by {{currentPlaying.artist}} ({{currentPostion}} / {{currentDuration}})
</p>

<div id="player" ng-show="showPlayer">
	<div class="seekBase" seek-track>
	    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
	</div>
	<br />
	<button play-music>Play</button>
	-
	<button pause-music>Pause</button>
	-
	<button stop-music>Stop</button>
	-
	<button repeat-music>Repeat ({{repeat}})</button>
	-
	<button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>
	-
	<button prev-track>Prev Track</button>
	-
	<button next-track>Next Track</button>
	-
	<button clear-playlist>Clear Playlist</button>
	<br/>
	<br/>
	<h5>Playlist</h5>
	<ul>
	    <li ng-repeat="song in playlist">
	        <a play-from-playlist="song">{{song.title}}</a>
	        -
	        <a remove-from-playlist="song" data-index="{{$index}}">
	            <small>(remove)</small>
	        </a>
	        <span ng-if="currentPlaying.id == song.id"> - {{current}}</span>
	    </li>
	</ul>
</div>