<div class="row">
	<div class="col-md-4">
		<img ng-src="{{poster.poster_image_url}}" alt="{{poster.poster_artist}}" class="img-responsive" />
	</div>
	<div class="col-md-8">
		<div class="title">
			<h2 ng-if="poster.poster_artist">{{poster.poster_artist}}</h2>
			<a ng-href="#/faq" ng-if="!poster.poster_artist"><h2>Credit this artist</h2></a>
		</div>
		<p>Submitted on {{poster.submission_date}} by {{poster.submitter_name}}</p>	
		<blockquote class="blockquote-reverse">
			<p>Poster transcription coming soon...<p>
		</blockquote>
	</div>
</div>